Repository TeamRocketBalleBalle/RICA-Remastered, pull requests merged in 2021-11, with the labels that each got.

#14 RICA-94 add github actions to run pytest
  .github/workflows/python-linting.yml
  .github/workflows/run-pytest.yml
  backend/APIs/doctors_api.py
  backend/APIs/patients_api.py
  backend/__init__.py
  backend/database/db_cli.py
  backend/tests/app_test.py
Labels: Review Pending

#16 setup unittesting foundation for API testing
  .codespellrc
  .github/labeler.yml
  .github/workflows/python-linting.yml
  .github/workflows/run-pytest.yml
  .pre-commit-config.yaml
  backend/APIs/doctors_api.py
  backend/APIs/patients_api.py
  backend/__init__.py
  backend/database/db_cli.py
  backend/database/testdata.sql
  backend/tests/__init__.py
  backend/tests/app_test.py
  backend/tests/conftest.py
  backend/tests/test_doctors_api/test_appointments_doctor.py
  backend/utility/db_wrapper.py
  pyproject.toml
  requirements-dev.txt
Labels: approved

#17 update to the new schema and API changes
  backend/APIs/doctors_api.py
  backend/database/schema.sql
  backend/database/testdata.sql
Labels: Review Pending, Backend

#18 fix test cases and majorly revamped the bookings API function
  backend/APIs/common.py
  backend/APIs/doctors_api.py
  backend/__init__.py
  backend/database/schema.sql
  backend/database/testdata.sql
  backend/tests/conftest.py
  backend/tests/test_doctors_api/test_appointments_doctor.py
  backend/tests/utility.py
Labels: Review Pending, Backend

#19 about time flowcharts are merged onto the `main` branch
  .github/workflows/render-drawio.yml
  .gitignore
  Flowcharts/Architecture Diagram.drawio
  Flowcharts/ERModel.drawio
  Flowcharts/ERModel.pu
  Flowcharts/FirstPhaseofLogin.pu
  Flowcharts/Hardware/Exports/Heart-Rate-Sensor-Schematic-v0.1.0_bb.svg
  Flowcharts/Hardware/Exports/Heart-Rate-Sensor-Schematic-v0.1.0_schem.svg
  Flowcharts/Hardware/Heart-Rate-Sensor-Schematic-v0.1.0.fzz
  Flowcharts/Hardware/Parts/DOIT Esp32 DevKit v1 improved.fzpz
  Flowcharts/Hardware/Parts/MakerFocus-MAX30102.fzpz
  Flowcharts/Hardware/Parts/OLED_096_128x64_I2C_SSD1306.fzpz
  Flowcharts/Rendered/Architecture Diagram-Page-1.svg
  Flowcharts/Rendered/ERModel-Page-1.svg
  Flowcharts/Rendered/FirstPhaseofLogin.svg
  Flowcharts/Rendered/PNGs/Architecture Diagram-Page-1.png
  Flowcharts/Rendered/PNGs/ERModel-Page-1.png
Labels: Review Pending, Flowcharts

#21 quick PR to fix import issue
  backend/.dockerignore
  backend/APIs/common.py
  backend/Dockerfile
  backend/requirements.txt
Labels: Review Pending, Backend

#20 add Dockerfile for backend (RICA-83)
  backend/.dockerignore
  backend/APIs/common.py
  backend/Dockerfile
  backend/requirements.txt
Labels: Review Pending, Backend

#22 quick fix for backend to become deployable
  backend/APIs/common.py
  backend/__init__.py
Labels: Review Pending, Backend

#23 CLI Command updates
  backend/database/db_cli.py
  backend/database/schema.sql
  backend/database/testdata.sql
Labels: approved, Backend

#24 Fix Error
  backend/database/db_cli.py
Labels: Review Pending, Backend

#26 add workflow to build and push rica docker images
  .github/workflows/build-docker-images.yml
Labels: Review Pending

#28 add build context for backend image
  .github/workflows/build-docker-images.yml
Labels: Review Pending

#31 add new backend code to image
  Procfile
  backend/APIs/common.py
  backend/APIs/common_api.py
  backend/APIs/doctors_api.py
  backend/APIs/patients_api.py
  backend/__init__.py
  backend/api.txt
  backend/database/db_cli.py
  backend/database/schema.sql
  backend/database/testdata.sql
  backend/tests/test_common_api/test_appointments_common.py
  backend/tests/test_login/test_login.py
  requirements.txt
Labels: Review Pending, Backend

#30 add CORS to server
  backend/__init__.py
  requirements.txt
Labels: Review Pending, Backend

#35 add `docker-compose.yml` file
  docker-compose-EXAMPLE.yml
Labels: Review Pending

#34 add `docker-compose.yml` file
  docker-compose-EXAMPLE.yml
Labels: Review Pending

#37 dockerise backend pt2
  .github/workflows/build-docker-images.yml
  backend/APIs/common.py
  backend/APIs/common_api.py
  backend/APIs/doctors_api.py
  backend/APIs/patients_api.py
  backend/tests/test_login/test_login.py
  docker-compose-EXAMPLE.yml
Labels: Review Pending, Backend

#41 add custom backend code to deployment
  front-end/doctor select/docHomePage.html
  front-end/doctor select/doctorsapp.css
  front-end/doctor select/doctorsapp.html
  front-end/doctor select/doctorsapp.js
  front-end/heart_rate/plot.html
  front-end/heart_rate/plotcss.css
  front-end/login/general/loginpage.html
  front-end/login/general/loginpage.js
  front-end/patient/fordoctorselect.html
  front-end/patient/orderMedicine.html
  front-end/patient/patientHome.html
  front-end/patient/yourAppointments.html
  front-end/resource(images)/config.js
Labels: Review Pending, Frontend

#42 add register api to docker deployment
  backend/APIs/common_api.py
Labels: Review Pending, Backend

#40 front end now stores and returns custom backend url
  front-end/login/general/loginpage.html
  front-end/login/general/loginpage.js
  front-end/resource(images)/config.js
Labels: Review Pending

#46 fix prettier error
  front-end/welcome page/MainPage.html
Labels: Review Pending, Frontend

#47 replace `*` with unordered list & remove color change
  front-end/welcome page/MainPage.css
  front-end/welcome page/MainPage.html
Labels: Review Pending, Frontend

#50 uno reverse reverse `successlogout.html` path in multiple files
  front-end/doctor select/docHomePage.html
  front-end/doctor select/doctorsapp.html
  front-end/heart_rate/plot.html
  front-end/patient/patientHome.html
  front-end/successlogout.html
Labels: Review Pending, Frontend

#33 new api for registration and appointment
  .github/workflows/build-docker-images.yml
  backend/APIs/common.py
  backend/APIs/common_api.py
  backend/APIs/doctors_api.py
  backend/APIs/patients_api.py
  backend/Dockerfile
  backend/database/db_cli.py
  backend/tests/test_login/test_login.py
  docker-compose-EXAMPLE.yml
Labels: Review Pending, Backend

#51 get secret key from env variable
  backend/__init__.py
  docker-compose-EXAMPLE.yml
Labels: Review Pending, Backend

#52 Backend
  README.md
  backend/APIs/common_api.py
  backend/APIs/patients_api.py
  backend/database/testdata.sql
Labels: approved, Backend

#53 Backend
  README.md
  backend/APIs/common_api.py
  backend/APIs/patients_api.py
  backend/database/testdata.sql
Labels: Review Pending, Backend

#54 Front end
  front-end/doctor select/doctorsapp.css
  front-end/doctor select/doctorsapp.html
  front-end/doctor select/doctorsapp.js
  front-end/login/general/loginpage.js
  front-end/patient/appointments/appointments.css
  front-end/patient/appointments/yourAppointments.html
  front-end/patient/appointments/yourappointments.js
  front-end/patient/docselect/fordoctorselect.js
  front-end/signup/signup.html
  front-end/signup/signup.js
  front-end/welcome page/MainPage.css
Labels: Review Pending, Frontend

#55 theoretical fix for tuple in session cookie
  backend/APIs/common_api.py
Labels: Review Pending, Backend

#56 changed path
  front-end/login/general/loginpage.js
Labels: Review Pending, Frontend

#48 Snyk fix 920d6c5d9695a1f9561e71573b57535e
  backend/Dockerfile
Labels: approved, Backend

#57 Backend
  .github/workflows/run-pytest.yml
  backend/APIs/common_api.py
  backend/database/testdata.sql
Labels: Review Pending, Backend

#58 Backend
  .github/workflows/run-pytest.yml
  backend/APIs/common_api.py
  backend/database/testdata.sql
Labels: Review Pending, Backend

#62 Backend
  .github/workflows/run-pytest.yml
  backend/APIs/common_api.py
Labels: Review Pending, Backend

#64 Front end
  front-end/doctor select/docHome.css
  front-end/doctor select/docHomePage.html
  front-end/heart_rate/plot.html
  front-end/login/general/loginpage.js
  front-end/patient/ordermedicine/orderMedicine.html
  front-end/patient/ordermedicine/ordermedicine.js
  front-end/patient/patient.css
  front-end/patient/patientHome.html
  front-end/patient/script.js
Labels: approved, Frontend

#66 Front end
  front-end/chemist/chemist(doc-patient-info)/chemisthome.js
  front-end/chemist/chemist(doc-patient-info)/chemsitHome.html
  front-end/doctor select/doctorsapp.html
  front-end/doctor select/doctorsapp.js
  front-end/heart_rate/config_page/config.html
  front-end/heart_rate/config_page/configu.js
  front-end/heart_rate/websocket.js
  front-end/patient/appointments/yourAppointments.html
  front-end/patient/appointments/yourappointments.js
  front-end/patient/docselect/fordoctorselect.css
  front-end/patient/docselect/fordoctorselect.html
  front-end/patient/docselect/fordoctorselect.js
  front-end/welcome page/MainPage.html
Labels: Review Pending, Frontend

#63 Backend
  .github/workflows/run-pytest.yml
  backend/APIs/common_api.py
Labels: approved, Backend

#67 change bkacned url
  front-end/doctor select/docScript.js
  front-end/doctor select/doctorsapp.js
  front-end/heart_rate/plot.html
  front-end/patient/appointments/yourappointments.js
  front-end/patient/docselect/fordoctorselect.js
  front-end/patient/ordermedicine/ordermedicine.js
  front-end/resource(images)/config.js
Labels: Review Pending, Frontend

#68 added files +++
  front-end/chemist/chemist(doc-patient-info)/chemisthome.js
  front-end/patient/appointments/yourappointments.js
  front-end/patient/docselect/fordoctorselect.css
Labels: Review Pending, Frontend

#69 added files ++++
  front-end/chemist/chemist(doc-patient-info)/chemisthome.js
  front-end/patient/appointments/yourappointments.js
Labels: Review Pending, Frontend

#71 added files +++++
  front-end/patient/ordermedicine/orderMedicine.html
  front-end/patient/ordermedicine/ordermedicine.js
Labels: Review Pending, Frontend

#73 Front end
  front-end/doctor select/docHomePage.html
  front-end/patient/docselect/fordoctorselect.html
  front-end/patient/docselect/fordoctorselect.js
  front-end/patient/ordermedicine/orderMedicine.html
Labels: Review Pending, Frontend

#74 added files +++++++
  front-end/chemist/chemist(doc-patient-info)/chemisthome.js
  front-end/chemist/chemist(doc-patient-info)/chemsitHome.html
  front-end/doctor select/doctorsapp.html
  front-end/doctor select/doctorsapp.js
Labels: Review Pending, Frontend

#75 added files +++++++
  front-end/chemist/chemist(doc-patient-info)/chemisthome.js
  front-end/doctor select/doctorsapp.js
Labels: Review Pending, Frontend

#76 added files +++++++
  front-end/chemist/chemist(doc-patient-info)/chemisthome.js
  front-end/chemist/chemist(doc-patient-info)/chemsitHome.html
Labels: Review Pending, Frontend

#79 final day commit 2
  front-end/chemist/chemist(doc-patient-info)/chemisthome.js
  front-end/patient/docselect/fordoctorselect.css
  front-end/patient/docselect/fordoctorselect.html
Labels: Review Pending, Frontend

#70 new stuff
  .github/workflows/run-pytest.yml
  backend/APIs/common_api.py
  front-end/chemist/chemist(doc-patient-info)/chemisthome.js
  front-end/chemist/chemist(doc-patient-info)/chemsitHome.html
  front-end/doctor select/docHome.css
  front-end/doctor select/docHomePage.html
  front-end/doctor select/docScript.js
  front-end/doctor select/doctorsapp.html
  front-end/doctor select/doctorsapp.js
  front-end/heart_rate/config_page/config.html
  front-end/heart_rate/config_page/configu.js
  front-end/heart_rate/plot.html
  front-end/heart_rate/websocket.js
  front-end/login/general/loginpage.js
  front-end/patient/appointments/yourAppointments.html
  front-end/patient/appointments/yourappointments.js
  front-end/patient/docselect/fordoctorselect.css
  front-end/patient/docselect/fordoctorselect.html
  front-end/patient/docselect/fordoctorselect.js
  front-end/patient/ordermedicine/orderMedicine.html
  front-end/patient/ordermedicine/ordermedicine.js
  front-end/patient/patient.css
  front-end/patient/patientHome.html
  front-end/patient/script.js
  front-end/resource(images)/config.js
  front-end/welcome page/MainPage.html
Labels: approved, Backend, Frontend
