Repository TeamRocketBalleBalle/RICA-Remastered, pull requests merged in 2021-09, with the labels that each got.

#2 Repo setup
  .editorconfig
  .github/codespell/allow-words.txt
  .github/codespell/custom-dictionary.txt
  .github/labeler.yml
  .github/workflows/PR-labeler.yml
  .github/workflows/approved-PR-label.yml
  .github/workflows/prettier.yml
  .github/workflows/python-linting.yml
  .github/workflows/render-plantuml.yml
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  .vscode/extensions.json
  README.md
  pyproject.toml
  requirements-dev.txt
Labels: approved

#3 Updating Branch: flowcharts
  .editorconfig
  .github/codespell/allow-words.txt
  .github/codespell/custom-dictionary.txt
  .github/labeler.yml
  .github/workflows/PR-labeler.yml
  .github/workflows/approved-PR-label.yml
  .github/workflows/prettier.yml
  .github/workflows/python-linting.yml
  .github/workflows/render-plantuml.yml
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  .vscode/extensions.json
  README.md
  pyproject.toml
  requirements-dev.txt
Labels: Review Pending

#5 Repo setup - add cpp/ino config
  .clang-format
  .editorconfig
  .github/workflows/format-ino.yml
  .github/workflows/render-drawio.yml
  .vscode/extensions.json
  .vscode/settings.json
Labels: enhancement, Review Pending
